<nav class="navbar navbar-expand-lg navbar-light bg-light" ngbCollapse >
  <a class="navbar-brand" href="#">
    <img src="assets/icons/gamepad.svg" width="30" height="30" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" (click)="collapse()"
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed"> 
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Frequently Asked Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
      <li class="nav-item">
        <app-gamestore-login-button></app-gamestore-login-button>
      </li>
    </ul>
  </div>
</nav>